.App {
  font-family: sans-serif;
  text-align: center;
}

.action-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* Product list */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  max-width: 500px;
  margin: 0 auto;
}

/* Product item */
.product-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 12px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 4px;

  transition: background-color 0.15s ease;
}

.cta {
  padding: 6px 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: bisque;
  cursor: pointer;
}

.cta:hover {
  background-color: rgb(243, 205, 158);
}

.page-number {
  padding: 6px 6px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.page-number:hover {
  background-color: aqua;
}
